.post-type-archive-practice-areas,
.page-id-1470,
.page-id-147 {
    .container-site {
        @media screen and (max-width: 1199px) {
            margin-top: 40px;
        }
    }
}
.post-type-archive-practice-areas,
.page-id-1434 {
    @media screen and (min-width: 1200px) {
        .container-site {
            .hero-banner {
                .caption-hero {
                    h1 {
                        line-height: 100px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .single.single-post {
        .hero-banner {
            .caption-hero {
                h1 {
                    line-height: 60px;
                    font-size: 60px;
                    .medium-font {
                        line-height: 80px;
                    }
                }
            }
        }
        .page-content {
            padding-bottom: 40px;
            .post-content {
                .the-content {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
        }    
        .results-part {
            display: none;
            &.show-small-screen {
                display: block;
            }
            .post-item-list {
                .post-item {
                    &:nth-child(3) {
                        display: none;
                    }
                }
                
            }
        }    
    }
}
.single.single-post {
    @media screen and (max-width: 1199px) {
        .page-content {
            padding-bottom: 40px;
        }
    }
        .results-part {            
            .post-item-list {
                .post-item {
                    @media screen and (max-width: 1199px) {
                        &:nth-child(2) {
                            display: none;
                        }
                        &:nth-child(3) {
                            display: none;
                        }
                    }
                }
                
            }
        } 
    
}
.page-template-page-blog {
    p.Light {
        color: #424242;
    }
}

.team-member-template-default.single {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    .container-site {
        margin-top: 80px;
    }
}


@media screen and (min-width: 1200px) { 
    .f-150 {
        font-size: 150px !important;
        line-height: 120px !important;
    }
    .f-155 {
        font-size: 155px !important;
        line-height: 125px !important;
    }
    .f-96 {
        font-size: 96px !important;
        line-height: 90px !important;
    }
    .f-40 {
        font-size: 40px !important;
        line-height: 35px !important;
    }
    .f-125 {
        font-size: 125px !important;
        line-height: 70px !important;
    }
    .f-55 {
        font-size: 55px !important;
        line-height: 40px;
    } 
    .f-40 {
        font-size: 40px !important;
        line-height: 36px;
    }   
    .f-64 {
        font-size: 64px !important;
    }
    .p-f-36 {
        font-size: 36px;
        font-weight: 300;
        line-height: normal;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .f-32 {
        font-size: 32px;
    }
    .mt-40 {
        margin-top: 40px;
    }
    .f-100 {
        font-size: 100px !important;
    }
    .page:not(.home) {
        .page-content {
            p {
                font-size: 32px;
                max-width: $maxDesktop;
                margin-left: auto;
                margin-right: auto;
                &.has-text-align-center {
                    font-size: 32px;
                    line-height: normal;
                }
            }
        }
    }      
}



#form-container-bg.no-home {
    &::before {
        content: none;
    }
}

.caption2 {
    flex-direction: column;
}

.practice-areas-template-default {
    .container-site {
        .hero-banner {
            .caption-hero {
                p {
                    @media screen and (min-width: 1200px) {
                        font-size: 36px;
                        max-width: $maxDesktop;
                        line-height: normal;
                    }
                }
            }
        }
    }
}

.page-template-page-overlay {
    .container-site {
        .hero-banner {
            display: flex;
            min-height: 1px;
            height: max-content;
            .f-image {
                display: flex;
                height: 100%;
                width: 100%;
            }
            .caption-hero {
                p {
                    @media screen and (min-width: 1200px) {
                        font-size: 36px;
                        max-width: $maxDesktop;
                        line-height: normal;
                    }
                }
            }
        }
    }    
}

.page-id-144 {
    .container-site {
        .hero-banner {
            @media screen and (min-width: 1200px) {
                min-height: 700px !important;
                .caption-hero {
                    padding-top: 60px;
                    padding-bottom: 60px;
                }
                &::after {
                    min-height: 700px !important;
                    display: flex;
                    height: 100%;
                    width: 100%;
                }  
                .f-image {
                    min-height: 700px !important;
                    display: flex;
                    height: 100%;
                    width: 100%;
                }              
            }       
        }
    }
    #form-container-bg.is-desktop {
        #form-container {
            max-width: 100%;
            @media screen and (min-width: 1200px) {
                max-width: 500px;
                width: 500px;
            }
            @media screen and (min-width: 1500px) {
                max-width: 600px;
                width: 600px;
            }
        }
    }
    
}   
.search.search-results,
.page-id-68 {
    .hero-banner {
        border-bottom: 10px solid #ED0D27;
    }
    .blog-container {
        .post-item {
            .caption {
                padding-left: 40px !important;
                padding-right: 40px !important;
                h4 {
                    color: #000;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
                p.Light {
                    color: #424242;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: normal;
                    margin-top: 0;
                }
                p.excerpt {
                    color: #000;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 200;
                    line-height: normal;
                }
            }
        }
    }
}

#main-menu {
    li {
        a {
            @media screen and (min-width: 1200px) {
                font-size: 18px !important;
            }
            @media screen and (min-width: 1440px) {
                font-size: 16px !important;
            }
            @media screen and (min-width: 1500px) {
                font-size: 21px !important;
            }
        }
    }
}

.badges-container {
    justify-content: center !important;
}

// Mobile Amends
@media screen and (max-width: 1199px) {
    .LMobile {
        font-size: 14px;
        font-weight: 200;
    }
    .home {
        .badges-container {
            .badges {
                img {
                    width: 150px;
                    height: 150px;
                    max-width: 100%;
                    object-fit: contain;
                }
            }
        }        
    }
    .practice-areas {
        .caption {
            p, h2 {
                margin-left: 10px;
                margin-right: 10px;
            }            
            p.f-white.uppercase.f-64.fw-700 {
                font-size: 32px;
                line-height: 30px;
                margin-top: 8px;
                margin-bottom: 15px;
            }
        }
        .practice-areas-list {
            .pa-item {
                background-position: top center !important;
                &.car {
                    background-position: -40px center !important;
                }
                &.truck {
                    background-position: 0px center !important;
                }
                &.motorcycle {
                    background-position: -130px center !important;
                }
                &.slip {
                    background-position: -150px center !important;
                }
            }
        }
    }
    .faq-container {
        .caption {
            padding-left: 10px;
            padding-right: 10px;
            .faq-list { 
                margin-top: 20px;   
                margin-bottom: 20px;            
                ul {
                    li {
                        min-height: 70px;
                        .title {
                            font-size: 24px;
                        }
                    }
                }
                .faq-link {
                    margin-top: 20px;   
                }
            }
        }
    }
    .page-id-140 {
        .container-site {
            .hero-banner {
                .caption-hero { 
                    flex-direction: column-reverse;
                }
            }
            .faq-container {
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 0;
            }
        }
        
    }
    .practice-areas-template-default,
    .page-template.page-template-page-overlay {
        .container-site {
            .hero-banner {
                .caption-hero { 
                    padding-top: 50px;     
                    p {                   
                        font-size: 24px;
                        font-weight: 300;
                        margin-left: 10px;
                        margin-right: 10px;
                    }           
                }
            }
            .results-part {
                padding-top: 0;
                margin-top: 0;
                .results-list {
                    padding-top: 0;
                    .result-item {
                        h2 {
                            font-size: 48px;
                        }
                        p {
                            font-size: 20px !important;
                        }
                    }
                }
            }
        }
        
    }

    .page-id-144 {
        .hero-banner {
            .caption-hero {
                h1 {
                    font-size: 48px;
                }
                h2 {
                    font-size: 24px;
                }
                p {                   
                    font-size: 24px;
                    font-weight: 300;
                }
            }
        }
    }

    .postid-152 {
        .hero-banner {
            .caption-hero {
                h1 {
                    font-size: 65px;
                    span {
                        font-size: 32px !important;
                    }
                }
                p {                   
                    font-size: 24px;
                    font-weight: 300;
                }
            }
        }
    }

    .caption2 {
        h1 {
            font-size: 42px;
        }
        h2 {
            font-size: 36px;
        }
        h3 {
            font-size: 32px;
        }
        h4 {
            font-size: 30px;
        }
        h5 {
            font-size: 28px;
        }
        h6 {
            font-size: 26px;
        }
        p {
            font-weight: 300;
        }
    }

    .post-template-default.single.single-post  {
        .hero-banner {
            .caption-hero {
                padding-top: 50px;
                h1 {
                    font-size: 35px;
                    line-height: 35px;
                }
            }
        }
    }
    .container-attorneys {
        .main-attorney {
            .caption {
                .d-flex.flex-column {
                    flex-direction: column-reverse;
                    display: flex;
                }
                .occupation {
                    font-size: 14px;
                }
                h2.attorney-title {
                    font-size: 38px;
                    margin-top: 12px;
                    margin-bottom: 12px;
                }
                a {
                    margin-top: 8px;
                    margin-left: 0;
                }
            }
        }
        .secondary-attorney {
            .caption {
                .occupation {
                    font-size: 14px;
                }
                h2.attorney-title {
                    font-size: 38px;
                    margin-top: 12px;
                    margin-bottom: 12px;
                }
                a {
                    margin-top: 8px;
                    margin-right: 0;
                    margin-left: auto;
                }
            }
            &:nth-child(even) {
                .caption {
                    a {                         
                        margin-left: 0;
                        margin-right: auto;
                    }   
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .container-attorneys {
        .secondary-attorney {
            .caption.f-white {      
                left: 0 !important;
                right: auto !important;                          
                a {     
                    margin-top: 10px;                    
                    margin-left: 0;
                    margin-right: auto;
                }                  
            }
            &:nth-child(odd) {
                .caption.f-white {
                    left: auto !important;
                    right: 0 !important;
                    span, h2 {
                        text-align: right;
                        align-self: flex-end;
                        align-items: flex-end;
                    }
                    a {
                        margin-top: 10px;
                        margin-right: 0;
                        margin-left: auto;
                    }  
                }
            }
        }
    }
}