.post-type-archive-practice-areas,
.page-id-1470,
.page-id-147 {
    .container-site {
        @media screen and (max-width: 1199px) {
            margin-top: 40px;
        }
    }
}
.post-type-archive-practice-areas,
.page-id-1434 {
    @media screen and (min-width: 1200px) {
        .container-site {
            .hero-banner {
                .caption-hero {
                    h1 {
                        line-height: 100px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .single.single-post {
        .hero-banner {
            .caption-hero {
                h1 {
                    line-height: 60px;
                    font-size: 60px;
                    .medium-font {
                        line-height: 80px;
                    }
                }
            }
        }
        .page-content {
            padding-bottom: 40px;
            .post-content {
                .the-content {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
        }    
        .results-part {
            display: none;
            &.show-small-screen {
                display: block;
            }
            .post-item-list {
                .post-item {
                    &:nth-child(3) {
                        display: none;
                    }
                }
                
            }
        }    
    }
}
.single.single-post {
    @media screen and (max-width: 1199px) {
        .page-content {
            padding-bottom: 40px;
        }
    }
        .results-part {            
            .post-item-list {
                .post-item {
                    @media screen and (max-width: 1199px) {
                        &:nth-child(2) {
                            display: none;
                        }
                        &:nth-child(3) {
                            display: none;
                        }
                    }
                }
                
            }
        } 
    
}
.page-template-page-blog {
    p.Light {
        color: #424242;
    }
}

.team-member-template-default.single {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    .container-site {
        margin-top: 40px;
    }
}


@media screen and (min-width: 1200px) { 
    .f-150 {
        font-size: 150px !important;
        line-height: 120px !important;
    }
    .f-155 {
        font-size: 155px !important;
        line-height: 125px !important;
    }
    .f-96 {
        font-size: 96px !important;
        line-height: 90px !important;
    }
    .f-40 {
        font-size: 40px !important;
        line-height: 35px !important;
    }
    .f-125 {
        font-size: 125px !important;
        line-height: 70px !important;
    }
    .f-55 {
        font-size: 55px !important;
        line-height: 40px;
    } 
    .f-40 {
        font-size: 40px !important;
        line-height: 36px;
    }   
    .f-64 {
        font-size: 64px !important;
    }
    .p-f-36 {
        font-size: 36px;
        font-weight: 300;
        line-height: normal;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .f-32 {
        font-size: 32px;
    }
    .mt-40 {
        margin-top: 40px;
    }
    .f-100 {
        font-size: 100px !important;
    }
    .page:not(.home) {
        .page-content {
            p {
                font-size: 32px;
                max-width: $maxDesktop;
                margin-left: auto;
                margin-right: auto;
                &.has-text-align-center {
                    font-size: 32px;
                    line-height: normal;
                }
            }
        }
    }      
}



#form-container-bg.no-home {
    &::before {
        content: none;
    }
}

.caption2 {
    flex-direction: column;
}

.practice-areas-template-default {
    .container-site {
        .hero-banner {
            .caption-hero {
                p {
                    @media screen and (min-width: 1200px) {
                        font-size: 36px;
                        max-width: $maxDesktop;
                        line-height: normal;
                    }
                }
            }
        }
    }
}

.page-template-page-overlay {
    .container-site {
        .hero-banner {
            display: flex;
            min-height: 1px;
            height: max-content;
            .f-image {
                display: flex;
                height: 100%;
                width: 100%;
            }
            .caption-hero {
                p {
                    @media screen and (min-width: 1200px) {
                        font-size: 36px;
                        max-width: $maxDesktop;
                        line-height: normal;
                    }
                }
            }
        }
    }    
}

.page-id-144 {
    .container-site {
        .hero-banner {
            @media screen and (min-width: 1200px) {
                min-height: 700px !important;
                .caption-hero {
                    padding-top: 60px;
                    padding-bottom: 60px;
                }
                &::after {
                    min-height: 700px !important;
                    display: flex;
                    height: 100%;
                    width: 100%;
                }  
                .f-image {
                    min-height: 700px !important;
                    display: flex;
                    height: 100%;
                    width: 100%;
                }              
            }       
        }
    }
}   