* {
    font-family: "english-grotesque", sans-serif;
    font-weight: 100;
    font-style: normal;
    max-width: 100%;    
}

.Thin {
    font-family: "english-grotesque", sans-serif;
    font-weight: 100;
    font-style: normal;
}
 
.Light {
    font-family: "english-grotesque", sans-serif;
    font-weight: 300;
    font-style: normal;
}
 
.Medium {
    font-family: "english-grotesque", sans-serif;
    font-weight: 500;
    font-style: normal;
}

 
.Bold {
    font-family: "english-grotesque", sans-serif;
    font-weight: 700;
    font-style: normal;
}

 
.ExtraBold {
    font-family: "english-grotesque", sans-serif;
    font-weight: 800;
    font-style: normal;
}
 
.Black {
    font-family: "english-grotesque", sans-serif;
    font-weight: 900;
    font-style: normal;
}

p, ul li, ol li, .d-font {
    font-size: 20px;
    line-height: 30px;
    &.big {
        @media screen and (min-width: 1200px) {
            font-size: 32px;
            line-height: normal;
        }
    }    
}

h1 {
    font-family: "english-grotesque", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    span {
        font-family: "english-grotesque", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
}

h2 {
    font-family: "english-grotesque", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    span {
        font-family: "english-grotesque", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
}

h3 {
    font-family: "english-grotesque", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    span {
        font-family: "english-grotesque", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
}

h4 {
    font-family: "english-grotesque", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    span {
        font-family: "english-grotesque", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
}

h5 {
    font-family: "english-grotesque", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    span {
        font-family: "english-grotesque", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
}

h6 {
    font-family: "english-grotesque", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    span {
        font-family: "english-grotesque", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
}

.f-black {
    color: black !important;
}
.f-white {
    color: white !important;
}
.f-red {
    color: #ED0D27 !important;
}
.uppercase {
    text-transform: uppercase;
}

.f-center {
    text-align: center;
}
.caption-hero-bg,
.caption-hero {
    h1 {
        font-size: 42px;
        font-weight: 800;
        line-height: 50px;
        .small-font {
            font-size: 24px;
            font-weight: 700;
            line-height: 23px;
        }
        .medium-font {
            font-size: 28px;
            font-weight: 700;
            line-height: 26px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 160px;
            line-height: 140px;
            .small-font {
                font-size: 35px;
                line-height: 75px;
                font-weight: 800;
            }
            .medium-font {
                font-size: 92px;
                line-height: 80px;
                font-weight: 800;
            }
        }
    }
    p {
        font-size: 20px;
        @media screen and (min-width: 1200px) {
            font-size: 32px;
        }
    }
}
.caption-hero-bg {
    h1:not(span) {
        @media screen and (min-width: 1200px) {
            line-height: 120px;
        }
    }
}
.center {
    text-align: center;
}

.single,
.single-practice-areas {
    .hero-banner {
        .caption-hero {
            @media screen and (min-width: 1200px) {
                h1 {
                    line-height: 120px;
                }
                p {
                    margin-top: 10px;
                }
            }
        }
    }
    .post-content {
        h1, h2, h3, h4, h5, h6 {
            text-transform: uppercase;
        }
    }
}

.single-team-member {
    & > div.container-site > div.right-side > h1.f-black.uppercase {
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    & > div.container-site > div.right-side > h2.f-red.uppercase {
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
    }
    & > div.container-site > div.right-side > p.f-black > a.f-black.f-phone {
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}

.occupation {
    font-size: 20px;
}
@media screen and (min-width: 1200px) {
    .f-32 {
        font-size: 32px;
    }
    .f-96 {
        font-size: 96px;
    }   
    .f-100 {
        font-size: 100px;
    }  
    .f-150 {
        font-size: 150px;
    }
}
@media screen and (min-width: 1800px) {
    .f-96 {
        font-size: 65px !important;
    }    
}

.h2-injured {
    @media screen and (min-width: 1200px) {
        font-size: 100px !important;
        line-height: 90px !important;
        span.f-red {
            font-size: 200px;
            line-height: 120px !important;
        }
    }
}

.h2-attorney {
    @media screen and (min-width: 1200px) {
        font-size: 100px;
    }
}

h2.attorney-title {
    @media screen and (min-width: 1200px) {
        font-size: 64px;
        font-weight: 500;        
    }
}

.fw-700 {
    font-weight: 700;
}

.f-red-gradient {
    background: -webkit-linear-gradient(139deg, #ED0D27 39.58%, #C9051C 67.86%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.f-red-gradient-m {
    background: linear-gradient(139deg, #ED0D27 39.58%, #C9051C 67.86%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.f-left {
    text-align: left !important;
}

.practice-areas-template-default {
    .the-content {
        .caption {
            p, ul, li {
                font-size: 24px !important;
            }
        }
    }
}

.text-white {
    color: white !important;
}

h2.f-case-results {
    font-size: 54px !important;
    span {
        font-size: 54px !important;
    }
    @media screen and (min-width: 1200px) {
        font-size: 4vw !important;
        span {
            font-size: 4vw !important;
        }
    }
    @media screen and (min-width: 1600px) {
        font-size: 70px !important;
        span {
            font-size: 70px !important;
        }
    }
}

.h6-20 {
    font-size: 20px;
    @media screen and (min-width: 1200px) {
        font-size: 28px;
    }
}