
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    padding: 0 !important;
    margin: 0 !important;
    overflow-x: hidden;
    max-width: 100%;    
    width: 100%;
}
.container-site {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;   
}
.is-fixed {
    position: fixed !important;
}
.hero-banner {
    min-height: 100px;    
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
.btn {
    text-transform: capitalize;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 22px;    
    display: flex;
    max-width: 100%;
    height: 38px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: fit-content;
    transition: 0.3s;
    border-radius: 40px;
    min-height: 60px;
    @media screen and (max-width: 1199px) {
        margin-left: auto;
        margin-right: auto;
    }
}
.red-btn,
.btn-red {
    border: 5px solid #ED0D27;    
    color: white;
    font-weight: 700;    
    transition: 0.3s;
    &:hover {
        background: rgba(#ED0D27, 1);
        color: white;
    }
    &.f-black {
        &:hover {
            background: rgba(#ED0D27, 1);
            color: white !important;
        }   
    }
}
.btn-white {
    border: 2px solid white;    
    color: white;
    font-weight: 500;
    transition: 0.3s;
    text-transform: uppercase;
}
#gform_submit_button_1 {
    transition: 0.3s;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 24px;    
    display: flex;
    max-width: 100%;
    min-height: 38px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    border: 5px solid #ED0D27;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    &:hover {
        background: rgba(#ED0D27, 0.5);
        color: white;
    }
}
.line-red2,
.line-red {
    background: #ED0D27;
    min-height: 4px;
    max-width: 100%;
    width: 20px;
}
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-middle {
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.flex-responsive {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
}
.flex-responsive-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
}

.red-gradient {
    background: linear-gradient(to right, #7d0614, #ED0D27);
    @media screen and (min-width: 1200px) {
        background: linear-gradient(to top, #7d0614, #ED0D27);
    }
}

.dark-red-gradient {
    background: linear-gradient(to bottom, #090102, #4d030b);
    @media screen and (min-width: 1200px) {
        background: linear-gradient(to right, #090102, #4d030b);
    }
}

.star-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    img {
        margin: 4px;
    }
}

.container-site {
    min-height: 50px;
}

.spacing-for-menu {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    height: 122px;
    @media screen and (min-width: 1200px) {
        height: 80px;
    }
}

.page:not(.home),
.single,
.archive {    
    // Attorneys & Staff Block
    .attorney-block {
        .container-attorneys {
            h2.uppercase {
                display: flex;
                flex-direction: row;
                font-size: 36px;
                column-gap: 10px;
                color: black;
                width: 100%;
                @media screen and (min-width: 400px) {
                    font-size: 40px;
                }
                span {
                    font-size: 36px;
                    color: black !important;
                    @media screen and (min-width: 400px) {
                        font-size: 40px;
                    }
                }
                img {
                    height: auto;
                    max-width: 100%;
                    width: 35px;
                }
                margin-left: auto;
                margin-right: auto;
                align-items: center; 
                justify-content: center;
                vertical-align: middle;
                @media screen and (min-width: 1200px) {
                   font-size: 54px;
                   line-height: 60px;
                   span {
                    font-size: 54px;
                    line-height: 60px;
                   }
                }
            }
            .team-staff {
                &:nth-child(even) {
                    .caption.f-white {
                        @media screen and (min-width: 1200px) {
                            color: black !important;
                            align-items: flex-end;
                            h2 {
                                text-align: right;
                                align-self: flex-end;
                                margin-right: 0;
                                margin-left: auto;
                            }
                        }
                    }
                }
                &:nth-child(odd) {
                    .caption.f-white {
                        @media screen and (min-width: 1200px) {
                            color: black !important;
                            left: 0;
                            align-items: flex-start;
                            h2 {
                                text-align: left;
                                align-self: flex-start;
                                margin-right: auto;
                                margin-left: 0;
                            }
                        }
                    }
                } 
                a {
                    @media screen and (min-width: 1200px) {
                        color: black !important;
                    }
                }
            }
        }
    }
}

.results-container {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    padding: 20px;
    h2 {
        text-align: center;
        align-self: center;
        font-size: 28px;
        font-weight: 800;
        @media screen and (min-width: 1200px) {
            font-size: 64px;
        }
    }
    @media screen and (min-width: 1200px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (min-width: 1600px) {
        padding-left: 40px;
        padding-right: 40px;
    }
    .results-list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        @media screen and (min-width: 1200px) {
            flex-wrap: wrap;
            flex-direction: row;
            max-width: 90%;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        .result-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            vertical-align: middle;
            border: 2px solid black;
            padding: 20px;
            margin-bottom: 10px;
            margin-top: 10px;
            min-height: 255px;            
            border-radius: 5px;
            @media screen and (max-width: 1199px) {
                width: calc(100% - 40px);
                max-width: 100%;                
                flex-grow: 1;
            }
            h2 {
                @media screen and (min-width: 1200px) {
                    font-size: 50px;   
                }
                @media screen and (min-width: 1600px) {
                    font-size: 64px;   
                }
            }
            p {
                font-size: 20px !important;
            }
            a {
                margin-top: 20px;
                text-decoration: none;
                color: #ED0D27; 
                font-size: 20px;
                &:hover {
                    text-decoration: underline;
                }
            }
            $calculatedWidth: calc(33.33% - 70px);
            @media screen and (min-width: 1200px) {                
                margin: 10px;
                width: $calculatedWidth;
                flex-basis: $calculatedWidth;
                // width: fit-content;
                min-height: 360px;               
            }
            h2 {
                font-weight: 800;
                @media screen and (min-width: 1200px) {
                    font-size: 48px;
                }
                span.f-red {
                    font-weight: 800;
                }
            }
            &.million {
                @media screen and (min-width: 1200px) {
                    $calculatedWidthMillion: calc(50% + 190px);
                    width: $calculatedWidthMillion;
                    flex-basis: $calculatedWidthMillion;
                }
                h2 {
                    font-weight: 800;
                    @media screen and (min-width: 1200px) {
                        font-size: 96px;    
                    }
                    span.f-red {
                        font-weight: 800;
                    }
                }
                p {
                    font-size: 24px !important;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.practice-areas-list-block {
    padding: 20px;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {     
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .practice-areas-item {
        padding: 20px;
        display: flex;
        flex-direction: column;
        min-height: 240px;                
        margin-bottom: 20px;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        min-width: 350px;
        background-repeat: no-repeat;
        background-position:  top center;
        background-size: cover;
        position: relative;
        z-index: 1;        
        cursor: pointer;
        border-radius: 5px;
        @media screen and (min-width: 768px) {            
            min-width: auto;
            min-height: 320px;
            width: calc((100% / 2) - 60px);
            flex-basis: calc((100% / 2) - 60px);
        }
        @media screen and (min-width: 1200px) {
            min-height: 320px;
            width: calc((100% / 2) - 80px);
            flex-basis: calc((100% / 2) - 80px);
        }
        @media screen and (min-width: 1440px) {
            min-height: 320px;
            width: calc((100% / 3) - 80px);
            flex-basis: calc((100% / 3) - 80px);
        }
        &::after {
            transition: all 0.5s linear;
            content: " ";
            background: rgba(#000, 0.65);
            display: flex;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            position: absolute;
            border-radius: 5px;
        }
        h2 {
            position: relative;
            z-index: 3;
            font-size: 40px;
            text-align: center;
            line-height: 42px;
            @media screen and (min-width: 1200px) {
                font-size: 48px;
                line-height: 45px;
            }
        }
        &:hover {
            &::after {
                background: rgba(#000, 0.8);
            }
        }
    }
}

.mobile-only {
    display: block;
    @media screen and (min-width: 1500px) {
        display: none;
    }
}
.desktop-only {
    display: none;
    @media screen and (max-width: 1499px) {
        display: block;
    }
}

.show-mobile {
    @media screen and (max-width: 1199px) {
        display: block;
    }
    @media screen and (min-width: 1200px) {
        display: none !important;
    }
}
.show-desktop {
    @media screen and (max-width: 1199px) {
        display: none !important;
    }
    @media screen and (min-width: 1200px) {
        display: block;
    }
}

#gform_wrapper_1 {
    display: none;
}

a.f-phone {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

#s {
    height: 44px;
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: 4px 20px;
    border-radius: 30px;
    max-width: 100%;
    min-width: 250px;
    font-size: 20px;
    @media screen and (min-width: 1200px) {
        min-width: 500px;
    }
}
.search-button {
    display: none;
}

.related-posts {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 20px;
    h2 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .post-item-list {
        flex-grow: 1;
        display: flex;
        flex-direction: column;        
        column-gap: 20px;
        @media screen and (min-width: 1200px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .post-item {            
            max-width: 100%;
            background: white;
            width: 100%;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            border-radius: 10px;
            &.hide-post {
                display: none;
            }
            @media screen and (min-width: 1200px) {
                width: calc(50% - 30px);
                margin-left: 10px;
                margin-right: 10px;
            }
            @media screen and (min-width: 1500px) {
                width: calc(33% - 30px);
            }
            .image {
                width: 100%;
                height: 240px;
                background-repeat: no-repeat;
                background-size: cover; 
                border-radius: 10px;  
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
            .caption {
                padding: 20px;
                a {
                    width: fit-content;
                    max-width: 100%;
                }
            }
        }
    }
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    align-self: center;
    max-width: 100%;
    border-radius: 35px;
    background: linear-gradient(to bottom, rgba(#000, 0.7), rgba(#000, 0.9)), url('/wp-content/themes/cja-ctl/assets/img/contact-box.png');
    margin: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 1500px) {
        max-width: 1400px;
    }
    #google-maps {
        padding: 20px;
        border-radius: 15px;
        iframe {
            border-radius: 15px;
        }
    }
    #form-container-bg {
        border-radius: 0;
        background: none;
        &::after {
            border-radius: 0;
            background: none;
        }
        #form-container {
            border-radius: 0;
            background: none;
            &::after {
                border-radius: 0;
                background: none;
            }
        }        
    }
}


.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


#form-container-bg {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;    
    overflow: hidden;
    @media screen and (max-width: 1199px) {
        background-image: url('/wp-content/themes/cja-ctl/assets/img/home-mobile-bg-form.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
    @media screen and (min-width: 1200px) {
        &:before {
            content: "";
            position: absolute;
            width : 100%;
            height: 100%;
            background-image: url('/wp-content/themes/cja-ctl/assets/img/home-mobile-bg-form.webp');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            z-index: -1;
            filter: blur(8px);
            -webkit-filter: blur(8px);
        }   
    }    
    &.no-home {
        background-image: none;
    }
    #form-container {
        background-color: #000;
        padding: 20px;
        @media screen and (min-width: 1200px) {
            padding: 40px;
        }
        border-radius: 15px;
        text-align: center;
        background-image: url('/wp-content/themes/cja-ctl/assets/img/form-bg.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
        z-index: 2;
        &::after {
            content: " ";
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            top: 0; bottom: 0; left: 0; right: 0;
            z-index: 2;
            background: linear-gradient(to bottom, rgba(#000, 0.7), rgba(#000, 1));
            border-radius: 15px;
        }   
            
        
        .gform_submission_error {
            color: red;
        }
        .gform-body.gform_body {
            transform: translateX(-4px);
            
        }        
        h2 {
            font-size: 32px;
            align-self: center;
            position: relative;
            z-index: 3;
            @media screen and (min-width: 400px) {
                font-size: 40px;
            }
        }
        .form-caption {
            position: relative;
            z-index: 3;        
            max-width: 100%;    
            p {
                font-size: 16px;
                font-weight: 300;
                line-height: normal;
            }
            @media screen and (min-width: 1200px) {
                padding-left: 140px;
                padding-right: 140px;
            }
            span {        
                align-self: center;
                margin-top: 20px;
                margin-bottom: 20px; 
                max-width: 100%;                       
            }
        }        
        #form-container-inside-2,
        #form-container-inside {
            z-index: 3;
            position: relative;
            z-index: 3;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            max-width: 100%;
            width: 100%;
            min-width: 100%;            
            .gform_heading {
                display: none;
            }
            .gform-body {
                ul#gform_fields_1 {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    @media screen and (max-width: 1199px) {
                        padding-left: 10px;
                        padding-right: 10px;
                        margin-left: auto;
                        margin-right: auto;
                        align-self: center;
                    }                    
                    li {
                        margin: 0;
                        padding: 0;
                        label {
                            display: none;
                        }                        
                        div {
                            margin-top: 8px;
                            margin-bottom: 8px;
                            transform: translateX(-6px);                            
                            input, textarea {
                                width: 100%;
                                // min-height: 40px;
                                max-height: 100px;
                                font-size: 20px;
                                border: 2px solid white;
                                color: white;
                                background: rgba(#fff, 0.15) !important;
                                // padding: 8px;
                                padding-top: 8px;
                                padding-bottom: 8px;
                                padding-left: 12px;                                
                                border-radius: 6px;
                                &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                                    color:    #fff;
                                }
                                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                                    color:    #fff;
                                    opacity:  1;
                                }
                                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                                    color:    #fff;
                                    opacity:  1;
                                }
                                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                    color:    #fff;
                                }
                                &::-ms-input-placeholder { /* Microsoft Edge */
                                    color:    #fff;
                                }
                                &::placeholder { /* Most modern browsers support this now. */
                                    color:    #fff;
                                }
                            }                            
                        }
                    }
                }
            }
        }
        #gform_submit_button_1 {
            background: transparent;
            &:hover {
                background: #ED0D27 !important;
            }
        }
        
    }
}
#form-container-bg.is-desktop {
    #form-container {
        
        @media screen and (min-width: 1200px) {
            z-index: 10;
        }
        @media screen and (min-width: 1200px) {
            width: 1055px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 40px;
            
        }
        .gform-body.gform_body {        
            @media screen and (min-width: 1200px) {
                transform: translateX(-2px);
            }
        }        
        h2 {            
            @media screen and (min-width: 1200px) {
                font-size: 60px;
                margin-bottom: 20px;
                span.f-red {
                    font-size: 60px;
                }
            }
        }
        span.f-white:not(h2) {                    
            @media screen and (min-width: 1200px) {
                font-size: 24px;
                margin-top: 40px;
                margin-bottom: 40px;
                max-width: 600px;
            }
            
        }
        #form-container-inside-2,
        #form-container-inside {
            @media screen and (min-width: 1200px) {
                margin-top: 40px;
            }            
            .gform-body {
                ul#gform_fields_1 {             
                    @media screen and (min-width: 1200px) {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        column-gap: 40px;
                        justify-content: space-between;
                    }
                    li {
                        @media screen and (min-width: 1200px) {
                            &#field_1_2,
                            &#field_1_3,
                            &#field_1_5,
                            &#field_1_6 {
                                width: calc(50% - 25px);
                                margin-top: 5px;
                                margin-bottom: 5px;
                            }
                            &#field_1_7 {
                                width: 100%;
                                margin-top: 5px;
                                margin-bottom: 5px;
                            }
                        }
                        div {                        
                            @media screen and (min-width: 1200px) {
                                input {
                                    height: 48px;
                                }
                                textarea {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }   
        
    }
    .form-caption { 
        p {
            font-size: 24px !important;           
            line-height: normal;
        }                        
    }
}
@media screen and (min-width: 1200px) {
    .home {
        .form-caption { 
            p {
                font-size: 24px;           
                line-height: normal;
            }                        
        }
    }
}
#gform_wrapper_1 {
    margin-top: 0;
    margin-bottom: 0;
}

.full-width {
    width: 100vw !important;
    position: relative !important;
    left: 50% !important;
    right: 50% !important;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
}

@media screen and (min-width: 1200px) {
    .show-desktop-important {
        display: block !important;
    }
}

.faq-icon-arrow {
    min-height: 20px;
    min-width: 20px;
    max-height: 20px;
    max-width: 20px;
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.fw-800 {
    font-weight: 800 !important;
}

.assistance-block {
    display: flex;    
    max-width: 100%;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
    .container-svg {
        width: 60px;
        height: 60px;       
        border-radius: 5px;
        background: #ED0D27; 
        display: flex;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 1200px) {
            width: 75px;
            height: 75px;
        }
        img {
            color: white;
            fill: white;
            height: 35px;
            width: auto;
        }
    }
    .b-caption {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        justify-content: center;
        @media screen and (min-width: 1200px) {
            min-height: 75px;            
        }
        h3 {
            color: #ACACAC;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: 15px;
            @media screen and (min-width: 1200px) {
                font-size: 24px;
            }
        }
        h2 {
            color: #000;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            @media screen and (min-width: 1200px) {
                font-size: 42px;
                margin-top: 15px;
            }
            a {
                color: #ED0D27;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                text-decoration: none;
                @media screen and (min-width: 1200px) {
                    font-size: 42px;
                }
            }
        }
    }
}

a {
    transition: all 0.2s linear;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
