.single,
.single.single-post,
.single-practice-areas {
    .hero-banner {
        min-height: 500px;
        @media screen and (min-width: 1200px) {
            min-height: 700px;
        }
        img.f-image {
            min-height: 500px;
            @media screen and (min-width: 1200px) {
                min-height: 700px;
            }
        }
        &::after {
            min-height: 500px;
            @media screen and (min-width: 1200px) {
                min-height: 700px;
            }
        }
    }
    #menu-nav-b {
        background: #000;
    }
    .post-content {
        padding-left: 20px;
        padding-right: 20px;
        &.has-image {
            transform: translateY(-50px);
            margin-bottom: -50px;
            position: relative;
            z-index: 30;
            @media screen and (min-width: 1200px) {
                padding-left: 80px;
                padding-right: 80px;
                transform: translateY(-100px);
                margin-bottom: -100px;
            }
        }
        @media screen and (min-width: 1200px) {
            padding-left: 80px;
            padding-right: 80px;
        }
        @media screen and (min-width: 1600px) {
            padding-left: 100px;
            padding-right: 100px;
        }
        @media screen and (min-width: 2000px) {
            padding-left: 150px;
            padding-right: 150px;
        }
        .the-content {    
            display: flex;
            flex-direction: column-reverse;
            @media screen and (min-width: 1200px) {
                display: block;
                max-width: calc($maxDesktop + 400px);
                margin-left: auto;
                margin-right: auto;
            }        
            .form-part {
                max-width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
                #form-container-bg {
                    padding: 0;                    
                }                
                @media screen and (min-width: 1200px) {
                    float: right;   
                    display: flex; 
                    padding: 20px;              
                    width: 500px;                                          
                }                
            }
            .caption {
                @media screen and (min-width: 1200px) {
                    padding: 20px;
                }
            }
        }
       
    }
    .image-part {
        max-width: 100%;
        img {
            border-radius: 20px;
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
            @media screen and (min-width: 1200px) {
                width: calc(100% - 500px - 20px);
                height: auto;
                flex-shrink: 0;
            }
        }         
    }

    .results-part {        
        margin-left: auto;
        margin-right: auto;      
        max-width: 100%;
        padding-top: 20px;
        padding-bottom: 20px; 
        @media screen and (min-width: 1200px) {
            background: linear-gradient(to bottom, rgba(#FFF, 1), rgba(#FFF, 0.8)),url('/wp-content/themes/cja-ctl/assets/img/blog-block-bg.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 60px;
            padding-bottom: 60px; 
        }
        width: 100vw;
        .results-container {
            padding: 0;                
            width: 100%;
            h2.uppercase.f-black {
                display: none;
            }
            .results-list {
                margin: 0;
                @media screen and (max-width: 1199px) {
                    padding: 20px;
                }
                .result-item {
                    @media screen and (max-width: 1199px) {
                        width: 100%;
                        min-width: 100%;
                    }
                    h2.uppercase.f-black {
                        display: block;
                    }
                }
            }
        }
    } 
}

.single-team-member {
    @media screen and (min-width: 1200px) {
        background: linear-gradient(to bottom, rgba(#FFF,0.7), rgba(#FFF,1)),url('/wp-content/themes/cja-ctl/assets/img/bio-bg.png');
        background-repeat: no-repeat;
    }
    .spacing-for-menu {        
        height: 65px;
        @media screen and (min-width: 1200px) {
            height: 40px;
        }
    }
    .container-site {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%;        
        @media screen and (min-width: 1200px) {
            max-width: 1400px;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .left-side {
            padding: 20px;
            @media screen and (min-width: 1200px) {
                flex-basis: calc(50% - 50px);
                width: calc(50% - 50px);
            }
            @media screen and (min-width: 1600px) {
                flex-basis: calc(40% - 50px);
                width: calc(40% - 50px);
            }
            .team-extract {
                border-radius: 5px;
                border: 1px solid #000;
                max-width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 20px;
                .title {
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 300;
                    text-transform: uppercase;
                    max-width: 90%;
                    border-bottom: 1px solid #000;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }
                .caption {
                    padding: 20px;
                    ul {
                        margin: 0;
                        padding: 0;
                        li {
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 200;
                        }
                    }
                }
            }
        }
        .right-side {
            padding: 20px;
            @media screen and (min-width: 1200px) {
                flex-basis: calc(50% - 50px);
                width: calc(50% - 50px);
            }
            @media screen and (min-width: 1600px) {
                flex-basis: calc(60% - 50px);
                width: calc(60% - 50px);
            }
        }
    }
}
.search-results,
.page-template-page-blog {   
    .hero-banner {
        .caption-hero-bg {
            min-height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
            padding: 20px;
            text-align: center;
            p {
                line-height: normal;
            }
            @media screen and (min-width: 1200px) {
                min-height: 600px;

            }
            @media screen and (min-width: 1500px) {
                min-height: 700px;
                max-width: 50%;
                transform: translateX(-30%);
                text-align: left;
                align-items: flex-start;
                h1 {
                    margin-left: 0;
                }
            }
            .search-container {
                color: white;
                max-width: 100%;
                width: fit-content;
                display: flex;
                position: relative;
                .input-icons {
                    width: 100%;
                    margin-bottom: 10px;
                }
         
                .input-icons i {
                    position: absolute;
                    right: 2px;
                    top: 0;
                    bottom: 0;
                    margin-top: auto;
                    margin-bottom: auto;
                }
         
                .icon {
                    padding: 10px;
                    min-width: 40px;
                }
            }
        }
    }
    .page-content {        
        background: linear-gradient(to bottom, rgba(#FFF, 0.75), rgba(#FFF, 1)),url('/wp-content/themes/cja-ctl/assets/img/blog-block-bg.jpeg');
        background-repeat: no-repeat;
        .blog-container {                    
            padding: 20px;
            display: flex;
            flex-direction: column; 
            transform: translateY(-100px);           
            margin-bottom: -100px;
            @media screen and (min-width: 1200px) {
                flex-direction: row;
                flex-wrap: wrap;
                padding-left: 80px;
                padding-right: 80px;
            }
            @media screen and (min-width: 1600px) {
                padding-left: 120px;
                padding-right: 120px;
            }
            @media screen and (min-width: 2000px) {
                padding-left: 150px;
                padding-right: 150px;
            }
            .post-item {            
                max-width: 100%;
                background: white;
                width: 100%;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                border-radius: 10px;
                &.hide-post {
                    display: none;
                }
                @media screen and (min-width: 1200px) {
                    width: calc(50% - 20px);
                    margin-left: 10px;
                    margin-right: 10px;
                }
                @media screen and (min-width: 1500px) {
                    width: calc(33% - 20px);
                }
                .image {
                    width: 100%;
                    height: 240px;
                    background-repeat: no-repeat;
                    background-size: cover; 
                    border-radius: 10px;  
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }
                .caption {
                    padding: 20px;
                    a {
                        width: fit-content;
                        max-width: 100%;
                    }
                }
            }
            
        }
    }     
    a.load-more {
        width: fit-content;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}

.search-results {
    #menu-nav-b {
        background: #000;
    }
    .hero-banner {
        min-height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background: url('/wp-content/uploads/2024/04/blog-banner.png');
    }
} 


.single.single-post {
        
    .post-content {            
        transform: translateY(40px);
        margin-bottom: 0px;
        &.has-image {
            transform: translateY(-50px);
            margin-bottom: -50px;
            position: relative;
            z-index: 30;
            @media screen and (min-width: 1200px) {
                transform: translateY(-100px);
                margin-bottom: -100px;
            }
        }
    }
    @media screen and (max-width: 1199px) {
        flex-direction: column;
    }
    
}