$buttonColor1: var(--button-color-1);
$buttonColor2: var(--button-color-2);
$hoverButtonColor1: var(--hover-button-color-1);
$hoverButtonColor2: var(--hover-button-color-2);
$darkOverlay1: var(--dark-overlay-1);
$colorButtonText: var(--color-button-text);
$colorBannerText: var(--color-banner-text);
$colorDefaultText: var(--color-default-text);
$backgroundDefaultForm: var(--color-default-form);
$timeTransition: var(--time-transition);
$testBackground: var(--test-background);
$defaultLinkColor: var(--default-link-color);
$defaultLogo: var(--default-logo);
$defaultBanner: var(--default-logo);
$defaultOverlay: linear-gradient($darkOverlay1, $darkOverlay1);
$defaulltBannerBg: $defaultOverlay, $defaultBanner;
$bannerOverlay: var(--banner-overlay);
$white: var(--white);
$backgroundMenu: var(--background-menu);
$backgroundMenu2: var(--background-menu2);
$font-family: var(--font-family);
$fixedHeight: 90px;
$maxDesktop: 1100px;
$maxBody: 2200px;
$mobilePracticeAreasMinHeight: 800px !important;