div {
    border: 2px dotted green;
}
nav {
    border: 2px dotted blue;
}
button {
    border: 2px dotted black;
}
select, input, textarea {
    border: 2px dotted red;
}
ul {
    border: 2px dotted orange;
}
ul li {
    border: 2px dotted purple;
}